@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Raleway:wght@100;200&display=swap');
body{
    height: 2360px;
}
/* 測試用 */
.container{
    border: red solid 1px;
}
.col{
    border: black solid 1px;
}

/* 導覽列 */
.navbar{
    text-decoration: none;
    height: 40px;
    background-color: #0770A9;
}
.navword{
    text-decoration: none;
    color: #F9F7F5;
    text-align: right;
}
.navword:hover{
    text-decoration: none;
    color: #F9F7F5;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}
@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }

  /* 上面的logo圖片 */
  .top_logo{
      margin-top: 94px;
  }
  .logo_img{
      margin-left: 15%;
  }

  /* 商品選單 */
  .product{
      margin-top: 40px;
  }
  
  .pcb{
    background: #FFC800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 118px;
    height: 33px;
    justify-self: auto;
  }
  .pc{
    color: #000000;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration: none;
    font-size: 18px ;
    font-family: 'Raleway', sans-serif;
  }

  .pc:hover{
      color: #F9F7F5;
      text-decoration: none;
  }
  .pcb:hover{
    background: #0770A9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* slider */
  .slider{
      margin-top: 60px;
  }
 